body{background-color:blue;}


#box1{
	background-color:blue;margin:10% 10% 30% 10%;border:black 5px solid;
}

div p.text{
	background-color:blue;margin:20px 10px 1% 20px;border:green 3px dashed; padding:1% 80px 1% 1%; color:magenta;
}
.imgstyle{margin:20px 80px 0px 0px;border:pink 2px dashed; padding:20px 20px 20px 20px;}
