div.background{background-color:green; padding:0px 10px 0px 0px;}
div p.content{
border:black 4px dotted;margin:1px 10px 1px 10px; padding:20px 20px 20px 10px; color:red ;font-size:10px;}
.moretext{color:purple;font-size:10px;}
.green{color:darkgreen;}
