body{
	background-color:green;
}


#wrapper{
	width:1000px;
	margin:0 auto;
}


#leftbody{
	float:left;
	width:275px;
	height:265px;
	padding:10px 0px 0px 0px;
	background-color:blue;

}
#rightbody{
	float:right;
	width:275px;
	height:265px;
	padding:10px 0px 0px 0px;
	background-color:red;


}
#thirdbody{
	width:275px;
	height:275px;
	background-color:yellow;
		clear:both;
			margin:0 auto;
}
